#shelve-menu-item {
}
#shelve-toolbar-button {
    list-style-image: url("chrome://shelve-icons/skin/shelve-toolbar.png");
    -moz-image-region: rect(0px 24px 24px 0px);
}
#shelve-toolbar-button:hover {
    -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #shelve-toolbar-button {
    -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #shelve-toolbar-button:hover {
    -moz-image-region: rect(24px 40px 40px 24px);
}
#shelve-toolbar-button[checked="true"] {
    -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #shelve-toolbar-button[checked="true"] {
    -moz-image-region: rect(24px 40px 40px 24px);
}
